body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  height: auto;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 24px;
  margin: 0;
}

#recordButton, #toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px; 
  width: 200px;
}

#recordingIndicator {
  margin-top: 10px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
